body {
  background-color: rgb(0, 132, 255);
  padding-bottom: 200%;
}

.head {
    text-align: center;
    color: white;
}

#clock {
  font-size: 10em;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 300;
  color: #ffa500;
  margin: 30pt auto;
}

#setAlarm {
  margin: 30pt auto;
  width: 100pt;
  height: 20pt;
}

.alarmbtn {
  width: 100pt;
  height: 20pt;
  background-color: orangered;
}

#minutesAndHours {
  display: none;
}

#hoursdropbtn {
  float: left;
  margin-left: 400pt;
}

#minutesdropbtn {
  float: right;
  margin-right: 400pt;
}

.dropbtn {
  background-color:rgb(47, 218, 4);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: orangered;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-y: scroll;
  width:290px;
  height: 200px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
